.container{
    width: 640px;
    height: 650px;
    padding: 55px 70px;
    background-color: #1D1825;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #1E1E1E;
    color: white;
}

.form{
    display:flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.title_input{
    width: 380px;
    height: 40px;
    border: 1px solid #9E78CF;
    border-radius: 10px;
}

.title_button{
    width: 40px;
    height: 40px;
    background-color: #9E78CF;
    border-radius: 10px;
    cursor: pointer;
}

ul{
    list-style: none;
}

p{
    width: fit-content;
}

.tasks_list, 
.completed_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list_element{
    width: 432px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15101C;
    border-radius: 10px;
    padding: 0px 30px;
    margin-bottom: 10px;
}

.list_element:hover{
    border: 1px solid #9E78CF;
}

.list_element_completed:hover{
    border: 1px solid #1dc817;
}
